/* muli-regular - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../static/fonts/muli-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../static/fonts/muli-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-600 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../../static/fonts/muli-v20-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../static/fonts/muli-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-700 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../../static/fonts/muli-v20-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../static/fonts/muli-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-800 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("../../static/fonts/muli-v20-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../static/fonts/muli-v20-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-italic - latin */
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("../../static/fonts/muli-v20-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../static/fonts/muli-v20-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-600italic - latin */
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 600;
  src: local(""),
    url("../../static/fonts/muli-v20-latin-600italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../static/fonts/muli-v20-latin-600italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-700italic - latin */
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("../../static/fonts/muli-v20-latin-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../static/fonts/muli-v20-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* muli-800italic - latin */
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 800;
  src: local(""),
    url("../../static/fonts/muli-v20-latin-800italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../static/fonts/muli-v20-latin-800italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
